<div class="container">
  <h2>Detalle Pelicula</h2>
  <div class="row" *ngIf="inputElementToView != null">
    <div>
      
      <div>
        <label>Nombre: {{movieName}}</label>
      </div>
      <div>
        <label>Tipo: {{ movieType }}</label>
      </div>
      <div>
        <label>Fecha de Estreno: {{ releaseDate }}</label>
      </div>
      <div>
        <label>Cantidad de Publico: {{ spectatorCount }}</label>
      </div>
      <p>
        Al presionar el boton 'Limpiar' se reiniciaran los campos de muestra.
      </p>
      <p>
        <a class="btn btn-success" role="button" (click)="limpiar()"
          >Limpiar Campos</a
        >
        <a
          class="btn btn-success"
          role="button"
          (click)="deleteElement()"
          *ngIf="inputShowDelete"
          >Borrar Elemento</a
        >
      </p>
    </div>
  </div>
</div>
