<div class="container">
  <table >
    <thead class="table-dark">
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Sexo</th>
      <th>Fecha de nacimiento</th>
    </thead>
    <tbody>
      <tr *ngFor="let actor of actorsCollection" (click)="selectActor(actor)">
        <td>
          <img [src]="actor.foto" alt="" style="width: 100px; height: 100px" />
        </td>
        <td>{{ actor.data.nombre }}</td>
        <td>{{ actor.data.apellido }}</td>
        <td>{{ actor.data.sexo }}</td>
        <td>
          {{
            this.datepipe.transform(
              actor.data.fechaDeNacimiento.toDate(),
              "dd/MM/yyyy"
            )
          }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
