<div class="container">
    <h2>Detalle Pelicula</h2>
    <div class="row" *ngIf="actor != null">
      <div>
        
        <div>
          <label>Nombre: {{firstName}}</label>
        </div>
        <div>
          <label>Apellido: {{ lastName }}</label>
        </div>
        <div>
          <label>:Sexo {{ sex }}</label>
        </div>
        <div>
          <label>fecha de nacimiento: {{ date }}</label>
        </div>
        <div>
            <label>nacionalidad: {{ nationality }}</label>
        </div>
    </div>
  </div>
