<div class="container grid">
  <div class="wrapper" *ngFor="let movie of moviesCollection">
    <div class="card mb-4 shadow-sm">
      <img [src]="movie.movieUrl" alt="" style="width: 250px; height: 300px" />
      <div class="card-body">
        <p class="card-text">
          {{ movie.data.nombre }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              *ngIf="showUpdateAndDeleteControls"
              type="button"
              class="btn btn-sm btn-outline-success"
              (click)="emitDelete(movie)"
            >
              Borrar
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-success"
              (click)="emitView(movie)"
            >
              Detalle
            </button>
            <button
              *ngIf="showUpdateAndDeleteControls"
              type="button"
              class="btn btn-sm btn-outline-success"
              (click)="emitModify(movie)"
            >
              Modificar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
